# Server
NODE_ENV=development
PORT=3000

# Database - Application user (runtime) (node.js)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=recettes_humaines
DB_USER=dev_app
DB_PASSWORD=your_password_here

# Database – Admin user (migrations, seeds)
DB_ADMIN_USER=dev_admin
DB_ADMIN_PASSWORD=

# Database - Test
DB_TEST_NAME=recettes_humaines_test

# JWT (Auth)
JWT_SECRET=your_very_long_random_secret_here
JWT_EXPIRES_IN=7d

# Logs
LOG_LEVEL=debug
